.product {
    display: inline-table !important;
    vertical-align: top !important;
    margin: 10px !important;
    border: 1px solid !important;
  }
  .image,.name,.brand,.price {
    display: table-row !important;
    text-align: center !important;
  }
  .product span {
    display: block !important;
    padding: 4px !important;
  }
  
  .image {
    height: 200px !important;
    text-align: center !important;
    word-spacing: -1em !important;
  }
    .image::before,
    .image img {
        display: inline-block !important;
        vertical-align: middle !important; /* or 'top' or 'bottom' */
    }
    .image::before {
        content:"" !important;
     }
    .image img {
        margin: 0 auto !important;
        word-spacing: normal !important; /* reset for img alt text */
    }
  
  
 
    .name span {
        padding: 10px 5px 5px !important;
        font-weight: 700 !important;
    }
  .brand, .price {
    height: 1px !important;
  }
    .price span {
        padding: 4px !important;
    }
  