{% extends 'base.html.twig' %}

{% block title %}Hello InfosController!{% endblock %}

{% block body %}
<h1>TEST</h1>
{% for product in products %}
<h1> {{proudct.id}}</h1>
{% endfor %}
{% endblock %}
